
<label for="title">
	<f:translate key="tx_srsmallads_domain_model_ads.title" />
</label><br />
	<f:form.textfield property="title" /><br />
<label for="bodytext">
	<f:translate key="tx_srsmallads_domain_model_ads.bodytext" />
</label><br />
	<f:form.textarea property="bodytext" cols="40" rows="15" /><br />
<label for="code">
	<f:translate key="tx_srsmallads_domain_model_ads.code" />
</label><br />
	<f:form.textfield property="code" /><br />
<label for="year">
	<f:translate key="tx_srsmallads_domain_model_ads.year" />
</label><br />
	<f:form.textfield property="year" /><br />
<label for="month">
	<f:translate key="tx_srsmallads_domain_model_ads.month" />
</label><br />
	<f:form.textfield property="month" /><br />
<label for="design">
	<f:translate key="tx_srsmallads_domain_model_ads.design" />
</label><br />
	<f:form.textfield property="design" /><br />
<label for="email">
	<f:translate key="tx_srsmallads_domain_model_ads.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="externalNumber">
	<f:translate key="tx_srsmallads_domain_model_ads.external_number" />
</label><br />
	<f:form.textfield property="externalNumber" /><br />