
<table class="tx-sr-smallads" >
	<tr>
		<td>
			<f:translate key="tx_srsmallads_domain_model_ads.title" />
		</td>
		<td>
		{ads.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_srsmallads_domain_model_ads.bodytext" />
		</td>
		<td>
		{ads.bodytext}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_srsmallads_domain_model_ads.code" />
		</td>
		<td>
		{ads.code}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_srsmallads_domain_model_ads.year" />
		</td>
		<td>
		{ads.year}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_srsmallads_domain_model_ads.month" />
		</td>
		<td>
		{ads.month}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_srsmallads_domain_model_ads.design" />
		</td>
		<td>
		{ads.design}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_srsmallads_domain_model_ads.email" />
		</td>
		<td>
		{ads.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_srsmallads_domain_model_ads.external_number" />
		</td>
		<td>
		{ads.externalNumber}
		</td>
	</tr>
</table>